{% extends 'main.html' %}
{% block title %}Уравнение{% endblock %}
{% block content %}
    <form id="form_for_equation" name="equation" method="get"  action="/equation"  enctype="multipart/form-data">
        {% csrf_token %}
        <label for="coefA"><h3>Для поиска корней уравнения Ax<sup>2</sup>+Bx+C=0 введите коэффициенты:</h3></label>
        <br>
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <br><br>
        <button class="btn btn-primary">Найти корни</button>
    </form>
    {% if solution %}
        <h3>Решение:</h3>
        {% for sol in solution %}
            <h3>{{ sol }}</h3>
            <br>
        {% endfor %}
    {% endif %}

    <script>

    </script>
{% endblock %}


{#<h3 style="display:inline-block">A=</h3><input class="form-control coefficient" name="coefA" id="coefA">#}
{#        <br>#}
{#        <h3 style="display:inline-block">B=</h3><input class="form-control coefficient" name="coefB" id="coefB">#}
{#        <br>#}
{#        <h3 style="display:inline-block">C=</h3><input class="form-control coefficient" name="coefC" id="coefC">#}